<nav class="navbar navbar-dark bg-primary navbar-expand-sm mb-3">
  <a class="navbar-brand" href="/">Pet Daycare</a>
  
  <ul class="navbar-nav mr-auto">
    <% if (authenticated) { %>
      <li class="nav-item">
        <a class="nav-link <%= currentRoute === '/service/new' ? 'active' : '' %>" href="/service/new">Schedule Service</a>
      </li>
    <% } %>
  </ul>
  
  <% if (authenticated) { %>
      <a class="btn btn-outline-light mr-3" href=<%= `/customer/${customerId}` %>>My Profile</a>
      <a class="btn btn-outline-light" href="/logout">Logout</a>
    <% } else { %>
      <a class="btn btn-info" href="/login">Login</a>
    <% } %>
</nav>