<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <main>
      <h1 class="text-center">Customer Profile</h1>
      <div class="text-center">This page is only accessible if the user is authenticated</div>
    </main>

    <%- include('partials/footer.ejs') %>
    
    <script src="/js/customerProfile.js"></script>
  </body>

  </html>
