<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <main>
      <h1 class="text-center">Pet Daycare</h1>
      <div class="text-center">This is the homepage</div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>

  </html>
