<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <% if (loginError === 'true') { %>
      <div class="alert alert-danger ml-5 mr-5" role="alert">
        Wrong credentials!
       </div>
    <% } %>
    
    <main class="d-flex justify-content-center align-items-center">

      <form id="login-form" method="POST">
        <div>
          <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
        </div>
        <div class="form-label-group">
          <label class="sr-only" for="username">Username</label>
          <input class="form-control mb-3" id="username" name="username" placeholder="email address" type="text" required />
        </div>
        
        <div class="form-label-group">
          <label class="sr-only" for="password">Password</label>
            <input class="form-control mb-4" id="password" name="password" placeholder="password" type="password" />
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
    
  </html>
