<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <main>
      <h1 class="text-center">Schedule New Service</h1>
      <div class="text-center">This page is only accessible if the user is authenticated</div>
    </main>

    <%- include('partials/footer.ejs') %>
    <script src="/js/scheduleService.js"></script>
  </body>

  </html>
