/* Login Page */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f7e7ce;
}

#login-form {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 1rem;
  width: 100%;
  padding: 16px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
